In [1]:
import pandas as pd

# Esto le dice a Pandas que muestre el contenido completo de las columnas,
# sin truncar el texto.
pd.options.display.max_colwidth = None

# Opcional: Esto asegura que todas las columnas sean visibles,
# no solo las que caben en la pantalla.
pd.options.display.max_columns = None

In [2]:
# -------------------------------------------------------
#                 IMPORTAR LIBRERIAS 
# ------------------------------------------------------

# importar librerias de manipulacion de Datos
import pandas as pd 
import numpy as np
import sys

file = '/mnt/c/DataScience/Projects_Python/Clinica_Prime/data/clientes_work.xlsx'
excel_file= pd.ExcelFile(file)
meses = excel_file.sheet_names


df_final = pd.DataFrame()

# Agiizar
# Nombre legibles no Deseados Se agregan a una lista llamada `eliminar_columna`
eliminar_columna = [ 'costo', #Redundante con el Total, no hace Referencia a Costo del Material
                     'fotos ',
                     'hora',
                     'hora.1',
                     'motivo de consulta',
                     'metodo de pago',
                     'metodo de pago.1',
                     'anuncio',
                     'deuda']

columnas_reemplazar =  ['tratamiento/procedimiento',
                       'procedimiento',
                       'notas.1']


map_columnas = {'tratamiento/procedimiento': 'tratamiento',
                       'procedimiento':'tratamiento',
                       'notas.1':'notas'}

nombres_base = ['edad',
                'nombre',
                'tel√©fono',
                'sexo',
                'dni',
                'nacimiento',
                'distrito',
                'total',
                'notas',
                'pp',
                'tratamiento',  
                'fecha']    

for mes in meses:
    df = excel_file.parse(mes)
    
    renombradas_encontradas = []
    descartados_encontrados = []
    desconocidas_encontradas = []
   
    
    try: 
        df.columns = [str(col).lower() for col in df.columns]
        for col in df.columns:
            if col not in nombres_base:
                # Eliminar Columnas no Deseadas
                if col in eliminar_columna:
                    print(f"\n Se Encontro columna a eliminar {col}")
                    df.drop(col, axis=1, inplace=True)
                    descartados_encontrados.append(col)
                    
                # Renombrar columnas Conocidas segun el Mapeo
                df.rename(columns=map_columnas, inplace=True)
                for col_map in map_columnas.keys():
                    if col_map in df.columns:
                        print(f"Renombrando Columna Conocida {col_map} -> {map_columnas[col_map]}")
                        renombradas_encontradas.append(col_map)
                
                # Identificar columnas desconocidas por el Tipo de Datos
                if col not in eliminar_columna and col not in columnas_reemplazar:
                    dtype = df[col].dtype
                    print(f"\nüîç Analizando columna desconocida: {col} (tipo: {dtype})")
                    if dtype == 'datetime64[ns]':
                        df.rename(columns={col: 'fecha'}, inplace=True)
                    elif dtype == 'object':
                        df.rename(columns={col: 'tratamient'}, inplace=True)
        print(df.columns)
        
        df_final = pd.concat([df_final, df], ignore_index = True)

    except Exception as e:
        print(f"‚ùå MISI√ìN ABORTADA en FASE 1. Error: {e}")

üîç Analizando columna desconocida: .0 (tipo: datetime64[ns])
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

 Se Encontro columna a eliminar motivo de consulta
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

üîç Analizando columna desconocida: jo (tipo: datetime64[ns])

 Se Encontro columna a eliminar motivo de consulta
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

 Se Encontro columna a eliminar hora

üîç Analizando columna desconocida: columna 10 (tipo: object)

 Se Encontro columna a eliminar metodo de pago

 Se Encontro columna a eliminar costo
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamient', 'notas', 'total', 'pp'],
      dtype='object')
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

üîç Analizando columna desconocida: columna 1 (tipo: datetime64[ns])

 Se Encontro columna a eliminar hora

 Se Encontro columna a eliminar metodo de pago

 Se Encontro columna a eliminar costo
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

 Se Encontro columna a eliminar hora

 Se Encontro columna a eliminar metodo de pago

 Se Encontro columna a eliminar costo
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

 Se Encontro columna a eliminar hora

 Se Encontro columna a eliminar metodo de pago

 Se Encontro columna a eliminar costo
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

üîç Analizando columna desconocida: 975186567 (tipo: datetime64[ns])

 Se Encontro columna a eliminar hora

 Se Encontro columna a eliminar metodo de pago

 Se Encontro columna a eliminar costo
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

 Se Encontro columna a eliminar hora

 Se Encontro columna a eliminar hora.1

 Se Encontro columna a eliminar metodo de pago

 Se Encontro columna a eliminar costo
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

/tmp/ipykernel_23795/1318133574.py:86: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_final = pd.concat([df_final, df], ignore_index = True)
/tmp/ipykernel_23795/1318133574.py:86: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_final = pd.concat([df_final, df], ignore_index = True)
/tmp/ipykernel_23795/1318133574.py:86: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_final = pd.concat([df_final, df], ignore_index = True)
/tmp/ipykernel_23795/1318133574.py:86: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_final = pd.concat([df_final, df], ignore_index = True)
/home/miguel/miniconda3/lib/python3.13/site-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell H86 is marked as a date but the serial value 6608697 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
/home/miguel/miniconda3/lib/python3.13/site-packages/openpyxl/worksheet/_reader.py:223: UserWarning: Cell I49 is marked as a date but the serial value 6608697 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

 Se Encontro columna a eliminar hora

 Se Encontro columna a eliminar hora.1

 Se Encontro columna a eliminar metodo de pago

 Se Encontro columna a eliminar costo

 Se Encontro columna a eliminar fotos
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

 Se Encontro columna a eliminar hora

 Se Encontro columna a eliminar hora.1

 Se Encontro columna a eliminar metodo de pago

 Se Encontro columna a eliminar costo

 Se Encontro columna a eliminar fotos
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

üîç Analizando columna desconocida: ----------------------------------------------------------------------------------------------------------------------------------------------------- (tipo: datetime64[ns])

 Se Encontro columna a eliminar hora

 Se Encontro columna a eliminar hora.1

 Se Encontro columna a eliminar metodo de pago

 Se Encontro columna a eliminar costo

 Se Encontro columna a eliminar anuncio

 Se Encontro columna a eliminar deuda

 Se Encontro columna a eliminar fotos
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total'],
      dtype='object')

üîç Analizando columna desconocida: ----------------------------------------------------------------------------------------------------------------------------------------------------- (tipo: datetime64[ns])

 Se Encontro columna a eliminar hora

 Se Encontro columna a eliminar metodo de pago

 Se Encontro columna a eliminar costo

 Se Encontro columna a eliminar fotos
Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'pp'],
      dtype='object')

In [3]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        1101 non-null   object
 1   nombre       1094 non-null   object
 2   edad         1024 non-null   object
 3   tel√©fono     999 non-null    object
 4   dni          917 non-null    object
 5   sexo         1080 non-null   object
 6   nacimiento   774 non-null    object
 7   distrito     717 non-null    object
 8   tratamiento  1000 non-null   object
 9   notas        996 non-null    object
 10  total        1070 non-null   object
 11  pp           15 non-null     object
 12  tratamient   87 non-null     object
dtypes: object(13)
memory usage: 112.6+ KB

In [4]:
# ======================================================================
# üèõÔ∏è CIRUG√çA RECONSTRUCTIVA, PASO 1: FUSI√ìN DE GEMELOS
# ======================================================================
# PRERREQUISITO: El DataFrame `df_final` existe.

print("--- Iniciando Fusi√≥n de Columnas Duplicadas ---")
print(f"Columnas antes de la fusi√≥n: {df_final.columns.tolist()}")

# La Anatom√≠a: `.fillna()`
# El Prop√≥sito del Artesano: Le decimos a Pandas: "En la columna 'tratamiento',
# si encuentras una celda vac√≠a (NaN), intenta rellenarla con el valor
# de la misma fila pero de la columna 'tratamient'".
# Esto es un trasplante de datos.
df_final['tratamiento'] = df_final['tratamiento'].fillna(df_final['tratamient'])

# La Anatom√≠a: `.drop()`
# El Prop√≥sito del Artesano: Ahora que hemos salvado los datos de la columna
# redundante, la destruimos.
df_final.drop(columns=['tratamient'], inplace=True)

print("\n‚úÖ Fusi√≥n completada.")
print(f"Columnas despu√©s de la fusi√≥n: {df_final.columns.tolist()}")

print("\n--- Verificaci√≥n de la Estructura Post-Fusi√≥n ---")
print(df_final.info())

--- Iniciando Fusi√≥n de Columnas Duplicadas ---
Columnas antes de la fusi√≥n: ['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento', 'distrito', 'tratamiento', 'notas', 'total', 'pp', 'tratamient']

‚úÖ Fusi√≥n completada.
Columnas despu√©s de la fusi√≥n: ['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento', 'distrito', 'tratamiento', 'notas', 'total', 'pp']

--- Verificaci√≥n de la Estructura Post-Fusi√≥n ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        1101 non-null   object
 1   nombre       1094 non-null   object
 2   edad         1024 non-null   object
 3   tel√©fono     999 non-null    object
 4   dni          917 non-null    object
 5   sexo         1080 non-null   object
 6   nacimiento   774 non-null    object
 7   distrito     717 non-null    object
 8   tratamiento  1087 non-null   object
 9   notas        996 non-null    object
 10  total        1070 non-null   object
 11  pp           15 non-null     object
dtypes: object(12)
memory usage: 103.9+ KB
None

In [5]:
# Permitir que Python encunetre e importe funciones personlizadas
# `src/limpieza_utils.py`

import sys # Importa el Sistema interno  de Python
import os #Importa el sistema operativo -> Permite hablar con carpeta rutas y archivos

# Paso 1: Encontrar ruta del proyecto para poder establecer las conexiones ya sea con los datos y otra informaci√≥n a tener en cuenta
ruta_proyecto = os.path.dirname(os.getcwd())
# `os.getcwd()` -> Get CurrentWorking Directory -> Cual es la carpeta actual de Trabjo actual?
# `os.path.dirname(.....)` -> Dame el nombre de la Carpeta PADRE de la ruta que te doy


# Paso 2:Agregar la ruta del proyecto al mapa de python
sys.path.append(ruta_proyecto)
    #`sys.path` -> Lista de Carpetas donde Python busca modulos para importar
    
print(f"(--------- Ruta del proyecto {ruta_proyecto} agregado al mapa de Python--------------)")

(--------- Ruta del proyecto /mnt/c/DataScience/Projects_Python/Clinica_Prime agregado al mapa de Python--------------)

In [6]:
# ======================================================================
# üèõÔ∏è LA OBRA - Aplicando la Purificaci√≥n con Auditor√≠a
# ======================================================================
# PRERREQUISITO: df_final existe. Taller .py actualizado. Kernel reiniciado.

# --- Importando nuestra nueva herramienta blindada ---
from src.limpieza_utils import estandarizar_texto

print("\n--- Iniciando la Fase de Purificaci√≥n Profunda de Texto con Auditor√≠a ---")

columnas_de_texto_clave = ['tratamiento', 'notas', 'nombre', 'distrito']

# --- El Proceso de Purificaci√≥n Auditado ---
for columna in columnas_de_texto_clave:
    # Simplemente llamamos a la nueva funci√≥n
    df_final = df_final.pipe(estandarizar_texto, nombre_columna=columna)

# --- INFORME FINAL DE ESTADO ---
print("\n\n--- üìã INFORME FINAL DE NULOS POST-PURIFICACI√ìN ---")
print(df_final[columnas_de_texto_clave].info())

--- Iniciando la Fase de Purificaci√≥n Profunda de Texto con Auditor√≠a ---

--- üíß Aplicando Purificaci√≥n Profunda (Auditada) en 'tratamiento' ---
     -> üìä Estado Inicial: 1087 valores no nulos.
     -> üìä Estado Final:   1087 valores no nulos.
 -> Peridad de Informacion minima

--- üíß Aplicando Purificaci√≥n Profunda (Auditada) en 'notas' ---
     -> üìä Estado Inicial: 996 valores no nulos.
     -> üìä Estado Final:   996 valores no nulos.
 -> Peridad de Informacion minima

--- üíß Aplicando Purificaci√≥n Profunda (Auditada) en 'nombre' ---
     -> üìä Estado Inicial: 1094 valores no nulos.
     -> üìä Estado Final:   1093 valores no nulos.
 -> Peridad de Informacion minima

--- üíß Aplicando Purificaci√≥n Profunda (Auditada) en 'distrito' ---
     -> üìä Estado Inicial: 717 valores no nulos.
     -> üìä Estado Final:   716 valores no nulos.
 -> Peridad de Informacion minima


--- üìã INFORME FINAL DE NULOS POST-PURIFICACI√ìN ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   tratamiento  1087 non-null   object
 1   notas        996 non-null    object
 2   nombre       1093 non-null   object
 3   distrito     716 non-null    object
dtypes: object(4)
memory usage: 34.7+ KB
None

In [7]:



from src.limpieza_utils import convertir_a_fechas, limpiar_y_convertir_a_numerico

print("\n--- Iniciando la Cirug√≠a de Tipos de Datos ---")
print("\n--- Estado PRE-Operatorio del Paciente ---")
print(df_final.info())

--- Iniciando la Cirug√≠a de Tipos de Datos ---

--- Estado PRE-Operatorio del Paciente ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        1101 non-null   object
 1   nombre       1093 non-null   object
 2   edad         1024 non-null   object
 3   tel√©fono     999 non-null    object
 4   dni          917 non-null    object
 5   sexo         1080 non-null   object
 6   nacimiento   774 non-null    object
 7   distrito     716 non-null    object
 8   tratamiento  1087 non-null   object
 9   notas        996 non-null    object
 10  total        1070 non-null   object
 11  pp           15 non-null     object
dtypes: object(12)
memory usage: 103.9+ KB
None

In [8]:

# --- Aplicando las Herramientas Quir√∫rgicas ---

# 1. Operaci√≥n de Fechas
df_final = df_final.pipe(convertir_a_fechas, nombre_columna='fecha')
df_final = df_final.pipe(convertir_a_fechas, nombre_columna='nacimiento') # Tambi√©n para nacimiento

# 2. Operaci√≥n de Columnas Num√©ricas
columnas_a_limpiar_numeric = ['total', 'dni', 'tel√©fono', 'edad']
for col in columnas_a_limpiar_numeric:
    df_final = df_final.pipe(limpiar_y_convertir_a_numerico, nombre_columna=col)
    
    # 2.1 Post-Operatorio: Conversi√≥n a Entero si es posible
    # Despu√©s de limpiar, `dni`, `tel√©fono`, `edad` son `float64` por los `NaN`.
    # Los convertimos a `Int64` para un formato m√°s limpio.
    if col in ['dni', 'tel√©fono', 'edad']:
        # `errors='ignore'` es por si la columna no existiera, aunque ya lo comprobamos.
        df_final[col] = df_final[col].astype('Int64', errors='ignore')

 ----- Columna a Analizar fecha -----


 ----- Columna a Analizar nacimiento -----

  -> Aplicando herramienta: 'limpiar_y_convertir_a_numerico' en 'total'...
  -> Aplicando herramienta: 'limpiar_y_convertir_a_numerico' en 'dni'...

  -> Aplicando herramienta: 'limpiar_y_convertir_a_numerico' en 'tel√©fono'...
  -> Aplicando herramienta: 'limpiar_y_convertir_a_numerico' en 'edad'...

In [9]:

print("\n\n--- Estado POST-Operatorio del Paciente ---")
print(df_final.info())

--- Estado POST-Operatorio del Paciente ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        1099 non-null   datetime64[ns]
 1   nombre       1093 non-null   object
 2   edad         984 non-null    Int64
 3   tel√©fono     955 non-null    Int64
 4   dni          874 non-null    Int64
 5   sexo         1080 non-null   object
 6   nacimiento   712 non-null    datetime64[ns]
 7   distrito     716 non-null    object
 8   tratamiento  1087 non-null   object
 9   notas        996 non-null    object
 10  total        1069 non-null   float64
 11  pp           15 non-null     object
dtypes: Int64(3), datetime64[ns](2), float64(1), object(6)
memory usage: 107.2+ KB
None

In [10]:

print("\n\n--- Muestra de Datos Post-Cirug√≠a ---")
display(df_final[['fecha', 'total', 'dni', 'edad']].sample(14))

--- Muestra de Datos Post-Cirug√≠a ---

         fecha   total       dni  edad
660 2025-01-07   900.0  29963228    50
293 2024-08-24   130.0      <NA>  <NA>
306 2024-08-26  4000.0  73051645    27
767 2025-02-05  4300.0  29640599    49
992 2025-04-22  2500.0  41663787    44
498 2024-11-23  1275.0  29635341    47
376 2024-09-21   175.0  46342530    34
910 2025-03-29  3300.0  48338868    31
12  2024-01-23     NaN      <NA>    31
592 2024-12-20  3200.0  29323187    58
769 2025-02-05  1200.0  40522947    45
740 2025-01-27  1425.0  43644004    38
232 2024-07-29  2600.0  70123443    34
661 2025-01-07   800.0  46022116    35

In [11]:

print("\n--- Iniciando la Reconstrucci√≥n de Identidades ---")
print(f"\n--- Nulos ANTES de la reconstrucci√≥n ---")
print(df_final.isnull().sum())
print(df_final.info())

--- Iniciando la Reconstrucci√≥n de Identidades ---

--- Nulos ANTES de la reconstrucci√≥n ---
fecha             8
nombre           14
edad            123
tel√©fono        152
dni             233
sexo             27
nacimiento      395
distrito        391
tratamiento      20
notas           111
total            38
pp             1092
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1107 entries, 0 to 1106
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        1099 non-null   datetime64[ns]
 1   nombre       1093 non-null   object
 2   edad         984 non-null    Int64
 3   tel√©fono     955 non-null    Int64
 4   dni          874 non-null    Int64
 5   sexo         1080 non-null   object
 6   nacimiento   712 non-null    datetime64[ns]
 7   distrito     716 non-null    object
 8   tratamiento  1087 non-null   object
 9   notas        996 non-null    object
 10  total        1069 non-null   float64
 11  pp           15 non-null     object
dtypes: Int64(3), datetime64[ns](2), float64(1), object(6)
memory usage: 107.2+ KB
None

In [12]:
duplicated_dni = df_final.duplicated(subset = ['dni'], keep = False)
duplicated_name = df_final.duplicated(subset = ['nombre'], keep = False)
duplicates_dni_name = df_final.duplicated(subset = ['dni', 'nombre'], keep = False)

print('Numero de DNI Repetidos ',len(df_final[duplicated_dni]))
print('Numero de Nonbre Duplciados', len(df_final[duplicated_name]))
print('Numero de DNI & Nombre Duplciados', len(df_final[duplicates_dni_name]))

Numero de DNI Repetidos  633
Numero de Nonbre Duplciados 330
Numero de DNI & Nombre Duplciados 272

In [13]:
# ======================================================================
# üèõÔ∏è LA OBRA - Aplicando las Herramientas de Paciente Problem√°tico
# ======================================================================
# PRERREQUISITO: df_final existe, taller .py actualizado, Kernel reiniciado.

from src.limpieza_utils import consolidar_marcador_problematico, limpiar_nombre_problematico

print("\n--- Iniciando el Protocolo de Paciente Problem√°tico ---")

# --- Muestra ANTES ---
columnas_a_revisar = ['nombre', 'pp']
print("\n--- Evidencia ANTES de la operaci√≥n ---")
# Filtramos para ver solo las filas que son problem√°ticas por una u otra raz√≥n
display(df_final[
    df_final['nombre'].astype(str).str.contains(r'\(PP\)', na=False) |
    df_final['pp'].notnull()
][columnas_a_revisar])

--- Iniciando el Protocolo de Paciente Problem√°tico ---

--- Evidencia ANTES de la operaci√≥n ---

                                     nombre                    pp
29                karina lazo gallegos (pp)                     X
122   m. del carmen delgado villanueva (pp)                     X
193                          ely paira (pp)                     X
206                      reyna lluclla (pp)                     X
213                      teresa vargas (pp)                     X
266                   milagros troncos (pp)                     X
282                      gladys quilla (pp)                     X
507                   marisol costa mircuda                    PP
624                    karen torres caceres                    PP
647                    carmen rivera mnedoz
648                    antonia huamani (pp)                     X
789                     sady salas palacios                     X
821              priscilla quiroz benavente                     X
879                    angela barriga yanas             DEUDA 100
1094                     tania herrera cruz  DEUDA 550  2-4 junio

In [14]:

# --- LA L√çNEA DE ENSAMBLAJE (EN EL ORDEN CORRECTO) ---
df_final = (df_final
            # 1. Primero, leemos la informaci√≥n y creamos nuestra columna de verdad.
            .pipe(consolidar_marcador_problematico)
            # 2. Despu√©s, y solo despu√©s, borramos el tatuaje del nombre.
            .pipe(limpiar_nombre_problematico)
           )

 -> consolidating `problematic patient` markers ....

 -> Columns 'paciente_problematico' creada y 'pp' eliminada

  ->  Cleaning Problematic patient markers from 'nombre' ...

In [15]:
df_final.columns

Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'nacimiento',
       'distrito', 'tratamiento', 'notas', 'total', 'paciente_problematico'],
      dtype='object')

In [16]:

# --- Muestra DESPU√âS ---
columnas_a_revisar_despues = ['nombre', 'paciente_problematico']
print("\n--- Evidencia DESPU√âS de la operaci√≥n ---")
display(df_final[df_final['paciente_problematico'] == True][columnas_a_revisar_despues])

--- Evidencia DESPU√âS de la operaci√≥n ---

                                nombre  paciente_problematico
29                karina lazo gallegos                   True
122   m. del carmen delgado villanueva                   True
193                          ely paira                   True
206                      reyna lluclla                   True
213                      teresa vargas                   True
266                   milagros troncos                   True
282                      gladys quilla                   True
507              marisol costa mircuda                   True
624               karen torres caceres                   True
647               carmen rivera mnedoz                   True
648                    antonia huamani                   True
789                sady salas palacios                   True
821         priscilla quiroz benavente                   True
879               angela barriga yanas                   True
1094                tania herrera cruz                   True

In [17]:


# ======================================================================
# üèõÔ∏è CIRUG√çA RECONSTRUCTIVA, PASO PREVIO: PURIFICACI√ìN
# ======================================================================
# PRERREQUISITO: El DataFrame `df_final` existe.

# --- Importando la NUEVA herramienta ---
from src.limpieza_utils import reconstruir_identidades # La necesitamos despu√©s



# --- AHORA, Y SOLO AHORA, PROCEDEMOS CON LA RECONSTRUCCI√ìN ---
print("\n--- Iniciando la Reconstrucci√≥n de Identidades (Ahora sobre datos puros) ---")
print(f"\n--- Nulos ANTES de la reconstrucci√≥n ---")
print(df_final[['dni', 'nombre']].isna().sum())

--- Iniciando la Reconstrucci√≥n de Identidades (Ahora sobre datos puros) ---

--- Nulos ANTES de la reconstrucci√≥n ---
dni       233
nombre      0
dtype: int64

In [18]:
df_final = df_final.pipe(reconstruir_identidades)

print(f"\n\n--- Nulos DESPU√âS de la reconstrucci√≥n ---")
print(df_final[['dni', 'nombre']].isna().sum())

  -> Aplicando herramienta REFORJADA: 'reconstruir_identidades'...
     -> Mapa de la verdad creado con 637 DNI √∫nicos.
     -> üìú Se intent√≥ rellenar nombres...
     -> üÜî Se intent√≥ rellenar DNIs...


--- Nulos DESPU√âS de la reconstrucci√≥n ---
dni       199
nombre     12
dtype: int64

In [19]:

# --- Aplicando la Directiva Final de la Empresa ---
# Ahora que hemos salvado todo lo posible, purgamos los registros
# que siguen siendo irrecuperables (sin DNI).
filas_antes_purga = len(df_final)
df_final.dropna(subset=['dni'], inplace=True)
filas_purgadas = filas_antes_purga - len(df_final)
print(f"\n--- Purga final completada: {filas_purgadas} filas irrecuperables eliminadas. ---")


print("\n\n--- Verificaci√≥n Final de la Estructura ---")
print(df_final.info(show_counts=True))

--- Purga final completada: 199 filas irrecuperables eliminadas. ---


--- Verificaci√≥n Final de la Estructura ---
<class 'pandas.core.frame.DataFrame'>
Index: 908 entries, 2 to 1106
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fecha                  907 non-null    datetime64[ns]
 1   nombre                 908 non-null    object
 2   edad                   879 non-null    Int64
 3   tel√©fono               861 non-null    Int64
 4   dni                    908 non-null    object
 5   sexo                   903 non-null    object
 6   nacimiento             703 non-null    datetime64[ns]
 7   distrito               707 non-null    object
 8   tratamiento            900 non-null    object
 9   notas                  816 non-null    object
 10  total                  884 non-null    float64
 11  paciente_problematico  908 non-null    bool
dtypes: Int64(2), bool(1), datetime64[ns](2), float64(1), object(6)
memory usage: 87.8+ KB
None

In [20]:
df_final['nombre'] = df_final['nombre'].str.title()
df_final['nombre'].sample(20)

867            Kelly Gutierrez Vilca
838            Lisbeth Marca Humpiri
752             Yuvita Mamani Yuvica
471                       Yeny Paiva
340                 Jose Luis Quispe
769             Karen Torres Caceres
547                 Martha Victorino
829               Karen Quispe Araca
1004    Brusheska Talavera Gutierrez
1077            Maryori Yepes Garcia
847         Elizabeth Albino Mendoza
349                       Kelly Meza
318                    Paola Arevalo
327            Carmen Podesta Bruner
308               Alejandrina Mamani
615            David Ticse Tolentino
506                    Sara Chamarra
695          Flor Maria Quispe Tacca
659            Treyci Najarro Garcia
312                   Jose Gutierrez
Name: nombre, dtype: object

In [21]:
print("--------- Imputacion Fecha ------------")
nulos_fecha_antes = df_final['fecha'].isna().sum()
print(f" -> Numero de Fechas Nulas {nulos_fecha_antes}")

--------- Imputacion Fecha ------------
 -> Numero de Fechas Nulas 1

In [22]:
'''
Consideracion se Ha Registrado en base a hojas de excel donde Cda hoja Respresentaba un Mes
'''
#`ffill`: Forward Fill (Llenado Hacia Adelante) Rellena el Valor Nulo con el Ultimo Valor Valido
df_final['fecha'].fillna(method='ffill', inplace=True)

/tmp/ipykernel_23795/1627604426.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_final['fecha'].fillna(method='ffill', inplace=True)
/tmp/ipykernel_23795/1627604426.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_final['fecha'].fillna(method='ffill', inplace=True)

In [23]:
# --- Informe Post-Operatorio ---
nulos_despues = df_final['fecha'].isna().sum()
print(f"\n  -> Fechas nulas DESPU√âS de la operaci√≥n: {nulos_despues}")

if nulos_fecha_antes > nulos_despues:
    print(f"  -> ‚ú® ¬°√âXITO! Se ha rescatado {nulos_fecha_antes - nulos_despues} registro de fecha.")
else:
    print("  -> No se encontraron fechas nulas que necesitaran ser rellenadas.")

print("\n--- Verificaci√≥n Final de la Estructura ---")
print(df_final.info(show_counts=True))

  -> Fechas nulas DESPU√âS de la operaci√≥n: 0
  -> ‚ú® ¬°√âXITO! Se ha rescatado 1 registro de fecha.

--- Verificaci√≥n Final de la Estructura ---
<class 'pandas.core.frame.DataFrame'>
Index: 908 entries, 2 to 1106
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fecha                  908 non-null    datetime64[ns]
 1   nombre                 908 non-null    object
 2   edad                   879 non-null    Int64
 3   tel√©fono               861 non-null    Int64
 4   dni                    908 non-null    object
 5   sexo                   903 non-null    object
 6   nacimiento             703 non-null    datetime64[ns]
 7   distrito               707 non-null    object
 8   tratamiento            900 non-null    object
 9   notas                  816 non-null    object
 10  total                  884 non-null    float64
 11  paciente_problematico  908 non-null    bool
dtypes: Int64(2), bool(1), datetime64[ns](2), float64(1), object(6)
memory usage: 87.8+ KB
None

In [24]:
df_final[df_final.duplicated(subset=['dni', 'nombre'], keep = False)].sort_values('dni').head(10)

,fecha,nombre,edad,tel√©fono,dni,sexo,nacimiento,distrito,tratamiento,notas,total,paciente_problematico
683,2025-01-14,Giovanna Molina Siguenas,48,958514940,10143251,F,1976-02-03,cayma,botox,64 und + tizo am,1660.0,False
710,2025-01-21,Giovanna Molina Siguenas,48,958514940,10143251,F,1976-02-03,cayma,juvederm,rino 1 jeringa,1100.0,False
307,2024-08-26,Alejandrina Mamani,77,928161636,2267028,F,1953-02-26,puno,botox,50u fullface,1000.0,False
308,2024-08-26,Alejandrina Mamani,77,928161636,2267028,F,NaT,puno,producto,tizo 3,150.0,False
351,2024-09-05,Martha Perochena,69,958952634,29246890,F,1955-02-26,yanahuara,producto,tizo 3,150.0,False
350,2024-09-05,Martha Perochena,69,958952634,29246890,F,1955-02-26,yanahuara,ellanse,"""m""",2430.0,False
508,2024-11-25,Mappy Arce Figueroa,51,995496656,29313661,F,1974-11-15,s. alegre,None,consulta,200.0,False
531,2024-12-02,Mappy Arce Figueroa,<NA>,995966656,29313661,F,NaT,None,botox + tizo 3,botox 50und + tizo 3,1350.0,False
543,2024-12-05,Jose Luis Quispe,57,944188409,29349856,M,1968-03-11,c. colorado,botox,64u fullface,1300.0,False
340,2024-04-23,Jose Luis Quispe,56,944188409,29349856,M,NaT,None,botox,64u fullface,1300.0,False

In [25]:

from src.limpieza_utils import convertir_a_categoria

# 1. Definimos las columnas que son candidatas a ser categ√≥ricas.
columnas_categoricas = ['sexo', 'distrito']

print("--- Iniciando la Fase de Optimizaci√≥n Final ---")
print("\n--- Dtypes ANTES de la optimizaci√≥n ---")
# Mostramos solo los tipos de las columnas que nos interesan
print(df_final[columnas_categoricas].dtypes)

--- Iniciando la Fase de Optimizaci√≥n Final ---

--- Dtypes ANTES de la optimizaci√≥n ---
sexo        object
distrito    object
dtype: object

In [26]:
# 2. Aplicamos nuestra herramienta reforjada.
df_optimizado = df_final.pipe(convertir_a_categoria, lista_columnas=columnas_categoricas)


print("\n--- Dtypes DESPU√âS de la optimizaci√≥n ---")
print(df_optimizado[columnas_categoricas].dtypes)

  -> ‚öôÔ∏è  Aplicando herramienta de optimizaci√≥n: 'convertir_a_categoria'...
     -> Columna 'sexo' convertida a 'category'.
     -> Columna 'distrito' convertida a 'category'.

--- Dtypes DESPU√âS de la optimizaci√≥n ---
sexo        category
distrito    category
dtype: object

In [27]:
df_final[['tratamiento', 'notas']].sample(25)

,tratamiento,notas
429,producto,tizo 3+tizo am
613,botox,50und
1073,art filler,ojeras
130,a. hialuronico,3jeringas/juvederm/sn6/1 volift
360,ellanse,"""m"""
982,botox,64 und
1070,botox,64 und
723,ellanse,ellanse s
257,producto,-
441,producto,tizo 3
964,"botox, croma",50 + sng + menton
269,producto,"b3 ampoile hydra - 30ml (deuda 2,600)"
780,"juvederm, radiesse",3 jeringas + radiesse
286,botox,50u fullface (se colocara el jueves)/ya se coloco
724,botox,50 und
833,juvederm,ojeras 2 jeringas
665,"botox, nctf, producto",50 und + svr jabor + tizo 3
594,consulta,None
443,botox,50u fullface/tizo 3
209,botox fullface,50u fullface/1j->a. hialuronico/artfiller/bioplastia labios
960,producto,tizo 3 + tizo moistturizing
303,producto,tizo 3
893,croma,2 jeringas
468,botox,50 und
220,botox fullface,50u fullface

In [28]:
len(df_final['tratamiento'].unique())

113

In [29]:
df_final['texto_consulta'] = df_final['tratamiento'] + ' ' + df_final['notas']

In [30]:
# En `main.ipynb`
from src.limpieza_utils import extraer_marcas_ordenado, extraer_servicios_jerarquico

# --- FASE 1: PURIFICACI√ìN Y FUSI√ìN ---
# ... (c√≥digo para crear 'texto_consulta') ...

# --- FASE 2: EXTRACCI√ìN MODULAR DE ENTIDADES (ORDEN CR√çTICO) ---
print("\n--- üß† Iniciando la Extracci√≥n Modular de Entidades... ---")

df_enriquecido = (df_final
                  # 1. Primero, siempre, detectamos las MARCAS espec√≠ficas.
                  .pipe(extraer_marcas_ordenado, col_fuente='texto_consulta')
                  # 2. LUEGO, usamos las marcas para inferir los SERVICIOS.
                  .pipe(extraer_servicios_jerarquico, col_fuente='texto_consulta')
                 )

# --- FASE 3: VERIFICACI√ìN ---
print("\n\n--- üî¨ Muestra de la Extracci√≥n Jer√°rquica ---")
columnas_a_mostrar = ['texto_consulta', 'marcas_detectadas', 'servicios_realizados']
display(df_enriquecido[columnas_a_mostrar].head(15))

--- üß† Iniciando la Extracci√≥n Modular de Entidades... ---
  -> üè∑Ô∏è  Aplicando Detector de Marcas Ordenado en 'texto_consulta'...
  -> üëë Aplicando Extractor Jer√°rquico de Servicios en 'texto_consulta'...


--- üî¨ Muestra de la Extracci√≥n Jer√°rquica ---

,texto_consulta,marcas_detectadas,servicios_realizados
2,botox full face 64 u,[BOTOX],[Toxina Botulinica]
6,a. hialuronico a. h. 2 jeringas,[],[Relleno Acido Hialuronico]
7,a. hialuronico 1 jeringa,[],[Relleno Acido Hialuronico]
20,radiesse b. de colageno,[RADIESSE],[Bioestimulador de Colageno]
22,ellanse b. de colageno m,[ELLANSE],[Bioestimulador de Colageno]
29,botox 50u/full face,[BOTOX],[Toxina Botulinica]
33,botox 64u full face,[BOTOX],[Toxina Botulinica]
34,pb serum enzimas serum relax/tizostick/reduccion de grasa,"[PB SERUM, TIZO]","[Enzimas Recombinantes, Venta de Producto Dermocosmetico]"
59,ellanse b. colageno ellanse m,[ELLANSE],[Bioestimulador de Colageno]
60,botox 50u full face,[BOTOX],[Toxina Botulinica]
70,botox 50u fullface,[BOTOX],[Toxina Botulinica]
82,botox 50u fullface/2jeringas a. hialuronico/radiesse b. colageno/juvederm,"[BOTOX, RADIESSE, JUVEDERM]","[Toxina Botulinica, Relleno Acido Hialuronico, Bioestimulador de Colageno]"
91,botox 50u fullface/ellanse m,"[BOTOX, ELLANSE]","[Toxina Botulinica, Bioestimulador de Colageno]"
94,croma 2jeringas a. hialuronico,[CROMA],[Relleno Acido Hialuronico]
98,ellanse ellanse s/b. de colageno,[ELLANSE],[Bioestimulador de Colageno]

In [31]:
df_final.sample(15)

,fecha,nombre,edad,tel√©fono,dni,sexo,nacimiento,distrito,tratamiento,notas,total,paciente_problematico,texto_consulta,marcas_detectadas,servicios_realizados
123,2024-05-13,Alejandra Laura Quispe,21,913918132,76156264,F,NaT,NaN,a. hialuronico,1jeringa/artfiller->rinomodelacion,900.0,False,a. hialuronico 1jeringa/artfiller->rinomodelacion,[ART FILLER],[Relleno Acido Hialuronico]
255,2024-08-08,Charo Bellido,42,958795744,41254948,F,1981-10-27,c. colorado,botox,64u,1500.0,False,botox 64u,[BOTOX],[Toxina Botulinica]
645,2025-01-02,Katiuska Yessica Torres,38,963322206,44602022,F,1986-03-20,c. colorado,enzimas pb serum high,None,2000.0,False,NaN,[],[]
943,2025-04-16,Alejandra Ramos Pacheco,32,958222341,72561349,F,1992-08-19,c. colorado,botox,50 und,1200.0,False,botox 50 und,[BOTOX],[Toxina Botulinica]
585,2024-12-19,Carmen Rivera Mendoza,47,983113499,29712464,F,1977-10-03,sachaca,botox+radiesse,50 und,3000.0,False,botox+radiesse 50 und,"[BOTOX, RADIESSE]","[Toxina Botulinica, Bioestimulador de Colageno]"
59,2024-02-23,Brunella Lopez,<NA>,<NA>,46342530,F,NaT,NaN,ellanse,b. colageno ellanse m,2400.0,False,ellanse b. colageno ellanse m,[ELLANSE],[Bioestimulador de Colageno]
654,2025-01-04,Miguel Munoz Hurtado,31,941230525,74696858,M,1993-10-08,cayma,producto,tizo 3,150.0,False,producto tizo 3,[TIZO],[Venta de Producto Dermocosmetico]
320,2024-08-31,Elizabeth Velarde,26,921776020,72779430,F,1997-11-21,moquegua,juvederm+art filler,1j rinomodelacion/1j labioplastia,2235.0,False,juvederm+art filler 1j rinomodelacion/1j labioplastia,"[JUVEDERM, ART FILLER]",[Relleno Acido Hialuronico]
807,2025-02-18,Aurelia Huallpa De Vaca,60,933189215,29364273,F,1964-06-16,hunter,botox,64 und,1300.0,False,botox 64 und,[BOTOX],[Toxina Botulinica]
145,2024-06-04,Yesenia Contreras,32,9693554,71498310,F,NaT,NaN,ellanse s,bioestimulador de colageno,2000.0,False,ellanse s bioestimulador de colageno,[ELLANSE],[Bioestimulador de Colageno]
987,2025-04-22,Kelly Meza Rojas,42,933798744,42034517,F,1981-12-18,sachaca,"botox, harmonyca",64 und,3900.0,False,"botox, harmonyca 64 und","[BOTOX, HARMONYCA]","[Toxina Botulinica, Bioestimulador de Colageno]"
598,2024-12-21,Brunella Lopez Vizcarra,34,953276776,46342530,F,1990-05-23,cayma,botox,100 und maseteros,NaN,False,botox 100 und maseteros,[BOTOX],[Toxina Botulinica]
238,2024-08-01,Mariela Zamudio,45,952324653,29730497,F,1978-08-02,yanahuara,botox+ellanse,"50u/""s""",2900.0,False,"botox+ellanse 50u/""s""","[BOTOX, ELLANSE]","[Toxina Botulinica, Bioestimulador de Colageno]"
985,2025-04-21,Ruby Chalco Condori,37,958873611,44420000,F,1987-07-18,cayma,"harmonyca, pb serum enzimas",None,4300.0,False,NaN,[],[]
914,2025-03-29,Rubi Cari Espinoza,23,959729606,76569099,F,2002-03-21,c. colorado,producto,lips + consulta + lips tizo,1340.0,False,producto lips + consulta + lips tizo,[TIZO],"[Consulta Medica, Venta de Producto Dermocosmetico]"

In [32]:
# --- Importando las nuevas herramientas ---
from src.limpieza_utils import desglosar_fecha

print("\n--- Iniciando Fase Final de Limpieza y Enriquecimiento ---")

# --- Aplicando el Desglose de Fecha (Eficiente) ---
# F√≠jate c√≥mo podemos reutilizar la misma funci√≥n para cualquier columna de fecha.
df_final = df_final.pipe(desglosar_fecha, nombre_columna='nacimiento', prefijo='nacimiento')
# df_final = df_final.pipe(desglosar_fecha, nombre_columna='fecha', prefijo='consulta') # Si quisi√©ramos desglosar la fecha de consulta tambi√©n

--- Iniciando Fase Final de Limpieza y Enriquecimiento ---
  -> üóìÔ∏è  Aplicando herramienta: 'desglosar_fecha' en 'nacimiento'...
     -> Columna 'nacimiento' desglosada y eliminada.

In [33]:

# --- 5. FASE DE FORJA DE DIMENSIONES ---
print("\n--- üèõÔ∏è  Forjando las Tablas de Dimensi√≥n Finales ---")

# 5A: Cat√°logo de Servicios
# Flatten the lists in the 'servicios_realizados' column and find unique values
nombres_servicios_unicos = pd.Series([item for sublist in df_final['servicios_realizados'].dropna() for item in sublist]).unique()
df_servicios_catalogo = pd.DataFrame(nombres_servicios_unicos, columns=['servicios_realizados'])
print(f"\n‚úÖ Cat√°logo de Servicios forjado con {len(df_servicios_catalogo)} servicios √∫nicos.")
display(df_servicios_catalogo)

--- üèõÔ∏è  Forjando las Tablas de Dimensi√≥n Finales ---

‚úÖ Cat√°logo de Servicios forjado con 7 servicios √∫nicos.

               servicios_realizados
0                 Toxina Botulinica
1         Relleno Acido Hialuronico
2        Bioestimulador de Colageno
3             Enzimas Recombinantes
4  Venta de Producto Dermocosmetico
5           Mesoterapia Skinbooster
6                   Consulta Medica

In [34]:
df_final.groupby('dni')['servicios_realizados'].count().sort_values(ascending =False)

dni
80202338     10
47133521      8
46342530      6
45205312      6
29551107      6
             ..
931699616     1
29302487      1
29272637      1
2406202       1
29346514      1
Name: servicios_realizados, Length: 637, dtype: int64

In [35]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 908 entries, 2 to 1106
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fecha                  908 non-null    datetime64[ns]
 1   nombre                 908 non-null    object
 2   edad                   879 non-null    Int64
 3   tel√©fono               861 non-null    Int64
 4   dni                    908 non-null    object
 5   sexo                   903 non-null    category
 6   distrito               707 non-null    category
 7   tratamiento            900 non-null    object
 8   notas                  816 non-null    object
 9   total                  884 non-null    float64
 10  paciente_problematico  908 non-null    bool
 11  texto_consulta         808 non-null    object
 12  marcas_detectadas      908 non-null    object
 13  servicios_realizados   908 non-null    object
 14  nacimiento_year        703 non-null    Int64
 15  nacimiento_month       703 non-null    Int64
 16  nacimiento_day         703 non-null    Int64
dtypes: Int64(5), bool(1), category(2), datetime64[ns](1), float64(1), object(7)
memory usage: 114.9+ KB

In [36]:
df_final[df_final['dni']== '80202338']

,fecha,nombre,edad,tel√©fono,dni,sexo,distrito,tratamiento,notas,total,paciente_problematico,texto_consulta,marcas_detectadas,servicios_realizados,nacimiento_year,nacimiento_month,nacimiento_day
304,2024-08-26,Norma Huamani,50,950380841,80202338,F,a. cayma,croma,rinomodelacion+ojeras,1700.0,False,croma rinomodelacion+ojeras,[CROMA],[Relleno Acido Hialuronico],1974,7,1
305,2024-08-26,Norma Huamani,50,950380841,80202338,F,a. cayma,producto,tizo 3/svr contorno de ojos/phyto spot whitening,440.0,False,producto tizo 3/svr contorno de ojos/phyto spot whitening,"[TIZO, SVR, PHYTO]",[Venta de Producto Dermocosmetico],1974,7,1
416,2024-10-08,Norma Huamani,50,950380841,80202338,F,cayma,botox+croma,50u fullface/3jeringas,3600.0,False,botox+croma 50u fullface/3jeringas,"[BOTOX, CROMA]","[Toxina Botulinica, Relleno Acido Hialuronico]",1974,7,1
417,2024-10-08,Norma Huamani,50,950380841,80202338,F,cayma,producto,hyaluronic concentrate isdin+tizo sensifine ar,290.0,False,producto hyaluronic concentrate isdin+tizo sensifine ar,"[ISDIN, TIZO, SVR]",[Venta de Producto Dermocosmetico],1974,7,1
485,2024-11-18,Norma Huamani,<NA>,<NA>,80202338,NaN,NaN,None,pago segunda cuota,850.0,False,NaN,[],[],<NA>,<NA>,<NA>
650,2025-01-03,Norma Huamani,50,950380841,80202338,F,cayma,pago deuda,3 croma y tizo cremas debe 400,NaN,False,pago deuda 3 croma y tizo cremas debe 400,"[CROMA, TIZO]","[Relleno Acido Hialuronico, Venta de Producto Dermocosmetico]",1974,7,1
750,2025-01-29,Norma Huamani,50,950380841,80202338,F,cayma,producto,tizo tinted,130.0,False,producto tizo tinted,[TIZO],[Venta de Producto Dermocosmetico],1974,7,1
751,2025-01-29,Norma Huamani,50,950380841,80202338,F,cayma,pago deuda,cremas,400.0,False,pago deuda cremas,[],[],1974,7,1
956,2025-04-17,Norma Huamani,50,950380841,80202338,F,cayma,"art filler, botox",deuda 1800 ( primera cuota pendiente para mayo de 450),NaN,False,"art filler, botox deuda 1800 ( primera cuota pendiente para mayo de 450)","[ART FILLER, BOTOX]","[Toxina Botulinica, Relleno Acido Hialuronico]",1974,7,1
957,2025-04-17,Norma Huamani,50,950380841,80202338,F,cayma,None,tizo ultra zinc,140.0,False,NaN,[],[],1971,7,1

In [37]:
# ---------------------------
# 4) COMPLETAR a√±o de nacimiento si falta
# ---------------------------
faltan_nac = df_final['nacimiento_year'].isna()
df_final.loc[faltan_nac, 'nacimiento_year'] = (df_final.loc[faltan_nac, 'fecha'].dt.year - df_final.loc[faltan_nac, 'edad'])

# ---------------------------
# 5) Resumen de nulos (auditor√≠a r√°pida)
# ---------------------------
nulos = df_final.isna().sum()
print(nulos)

fecha                      0
nombre                     0
edad                      29
tel√©fono                  47
dni                        0
sexo                       5
distrito                 201
tratamiento                8
notas                     92
total                     24
paciente_problematico      0
texto_consulta           100
marcas_detectadas          0
servicios_realizados       0
nacimiento_year           26
nacimiento_month         205
nacimiento_day           205
dtype: int64

In [38]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 908 entries, 2 to 1106
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fecha                  908 non-null    datetime64[ns]
 1   nombre                 908 non-null    object
 2   edad                   879 non-null    Int64
 3   tel√©fono               861 non-null    Int64
 4   dni                    908 non-null    object
 5   sexo                   903 non-null    category
 6   distrito               707 non-null    category
 7   tratamiento            900 non-null    object
 8   notas                  816 non-null    object
 9   total                  884 non-null    float64
 10  paciente_problematico  908 non-null    bool
 11  texto_consulta         808 non-null    object
 12  marcas_detectadas      908 non-null    object
 13  servicios_realizados   908 non-null    object
 14  nacimiento_year        882 non-null    Int64
 15  nacimiento_month       703 non-null    Int64
 16  nacimiento_day         703 non-null    Int64
dtypes: Int64(5), bool(1), category(2), datetime64[ns](1), float64(1), object(7)
memory usage: 114.9+ KB

In [39]:

# ======================================================================

# --- Importando TODO nuestro nuevo malet√≠n de herramientas ---
from src.limpieza_utils import (
    extraer_unidades,
    extraer_monto_deuda    
)

print("\n--- Iniciando la Cirug√≠a de Precisi√≥n sobre la columna 'notas' ---")

# --- La L√≠nea de Ensamblaje con `.pipe()` ---
# La Par√°bola del Pintor, de nuevo:
# 1. "Toma el `df_final`."
# 2. "P√°salo por la estaci√≥n 'extraer_unidades'."
# 3. "Toma el resultado y p√°salo por la estaci√≥n 'marcar_deuda'."
# 4. "Toma el resultado y p√°salo por la estaci√≥n 'extraer_monto_deuda'."
# 5. "Toma el resultado y p√°salo por la estaci√≥n 'extraer_jeringas'."
# El c√≥digo es un reflejo directo, limpio y legible de nuestro proceso mental.

df_final_enriquecido = (df_final
                        .pipe(extraer_unidades,'notas')
                        .pipe(extraer_monto_deuda, col_fuente='notas')
                       )

--- Iniciando la Cirug√≠a de Precisi√≥n sobre la columna 'notas' ---
  -> Applying Multi-Consumption Extractor to 'notas'...
     -> ‚úÖ Columna 'consumos_detectados' creada con listas de tuplas (cantidad, unidad).
  -> Aplicando extractor de 'monto_deuda' en 'notas'...

In [40]:
# ... (c√≥digo anterior) ...

# --- Importando la NUEVA herramienta reforjada ---
from src.limpieza_utils import marcar_deuda_con_contexto_reforjado
# (y las otras)

# --- La L√≠nea de Ensamblaje Actualizada ---
df_final_enriquecido = (df_final
                        .pipe(marcar_deuda_con_contexto_reforjado, col_fuente='notas')
                       )

  ->  Applying reinforced contextual debt sensor to 'notas'...
     -> Columna 'deuda_generada' creada con l√≥gica de contexto reforjada.

In [41]:
df_final.columns

Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'distrito',
       'tratamiento', 'notas', 'total', 'paciente_problematico',
       'texto_consulta', 'marcas_detectadas', 'servicios_realizados',
       'nacimiento_year', 'nacimiento_month', 'nacimiento_day',
       'consumos_detectados', 'deuda_monto', 'deuda_generada'],
      dtype='object')

In [42]:



# Muestra solo las filas donde al menos una de nuestras nuevas herramientas encontr√≥ algo.
display(df_final[['texto_consulta', 'marcas_detectadas', 'servicios_realizados', 'consumos_detectados', 'deuda_monto']].sample(15))

,texto_consulta,marcas_detectadas,servicios_realizados,consumos_detectados,deuda_monto
477,juvederm lips + menton + nariz,[JUVEDERM],[Relleno Acido Hialuronico],[],NaN
741,botox+juvederm 64 und + 4 jeringas natural face tml + menton y enzimas regalo dr + tizo tinted y tizo am,"[BOTOX, JUVEDERM, TML, TIZO]","[Toxina Botulinica, Relleno Acido Hialuronico, Enzimas Recombinantes, Venta de Producto Dermocosmetico]","[64, 4]",NaN
60,botox 50u full face,[BOTOX],[Toxina Botulinica],[50],NaN
185,botox fullface 50u fullface/a. hialuronico 2j->juvederm,"[BOTOX, JUVEDERM]","[Toxina Botulinica, Relleno Acido Hialuronico]","[50, 2]",NaN
859,botox 50 und,[BOTOX],[Toxina Botulinica],[50],NaN
371,nctf 3 sesiones,[NCTF],[Mesoterapia Skinbooster],[],NaN
334,a. hialuronico 1jeringa/juvederm/pb serum/(s/2500 pago en dolares $675),"[JUVEDERM, PB SERUM]","[Relleno Acido Hialuronico, Enzimas Recombinantes]",[1],NaN
605,"botox, juvederm 50 und + tml, lips y menton 4 jeringas","[BOTOX, JUVEDERM, TML]","[Toxina Botulinica, Relleno Acido Hialuronico, Venta de Producto Dermocosmetico]","[50, 4]",NaN
350,"ellanse ""m""",[ELLANSE],[Bioestimulador de Colageno],[],NaN
598,botox 100 und maseteros,[BOTOX],[Toxina Botulinica],[100],NaN
756,botox 64 und,[BOTOX],[Toxina Botulinica],[64],NaN
105,croma 2jeringas/a. hialuronico,[CROMA],[Relleno Acido Hialuronico],[2],NaN
800,juvederm+botox 50 unid + 4 jeringas tml + tizo3,"[JUVEDERM, BOTOX, TML, TIZO]","[Toxina Botulinica, Relleno Acido Hialuronico, Venta de Producto Dermocosmetico]",[4],NaN
632,art filler debe 800,[ART FILLER],[Relleno Acido Hialuronico],[],NaN
885,NaN,[],[],[],NaN

In [43]:
df_final.columns

Index(['fecha', 'nombre', 'edad', 'tel√©fono', 'dni', 'sexo', 'distrito',
       'tratamiento', 'notas', 'total', 'paciente_problematico',
       'texto_consulta', 'marcas_detectadas', 'servicios_realizados',
       'nacimiento_year', 'nacimiento_month', 'nacimiento_day',
       'consumos_detectados', 'deuda_monto', 'deuda_generada'],
      dtype='object')

In [44]:
deudores = df_final['deuda_generada'] == True
df_final[deudores][['notas','deuda_generada', 'deuda_monto']]

,notas,deuda_generada,deuda_monto
165,deuda 1000,True,1000.0
186,2jeringas->juvederm jalupro(deuda),True,NaN
210,100u fullface (deuda s/400),True,400.0
234,64u fullface/juvederm 6j/bioplastia de labios y ojeras/tml (deuda),True,NaN
269,"b3 ampoile hydra - 30ml (deuda 2,600)",True,2600.0
337,"deuda -> s/2,600",True,2600.0
925,deuda,True,NaN
946,deuda 1500 (15 mayo),True,1500.0
956,deuda 1800 ( primera cuota pendiente para mayo de 450),True,1800.0

In [45]:
df_final.drop(['edad'], axis = 1, inplace = True)

In [46]:
duplicates = df_final.duplicated(subset=['dni', 'nombre'], keep = False)

In [47]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 908 entries, 2 to 1106
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fecha                  908 non-null    datetime64[ns]
 1   nombre                 908 non-null    object
 2   tel√©fono               861 non-null    Int64
 3   dni                    908 non-null    object
 4   sexo                   903 non-null    category
 5   distrito               707 non-null    category
 6   tratamiento            900 non-null    object
 7   notas                  816 non-null    object
 8   total                  884 non-null    float64
 9   paciente_problematico  908 non-null    bool
 10  texto_consulta         808 non-null    object
 11  marcas_detectadas      908 non-null    object
 12  servicios_realizados   908 non-null    object
 13  nacimiento_year        882 non-null    Int64
 14  nacimiento_month       703 non-null    Int64
 15  nacimiento_day         703 non-null    Int64
 16  consumos_detectados    816 non-null    object
 17  deuda_monto            12 non-null     float64
 18  deuda_generada         908 non-null    bool
dtypes: Int64(4), bool(2), category(2), datetime64[ns](1), float64(2), object(8)
memory usage: 122.0+ KB

In [48]:
df_final[df_final.duplicated(subset=['dni', 'nombre'], keep = False)].sort_values(by=['nombre'])

,fecha,nombre,tel√©fono,dni,sexo,distrito,tratamiento,notas,total,paciente_problematico,texto_consulta,marcas_detectadas,servicios_realizados,nacimiento_year,nacimiento_month,nacimiento_day,consumos_detectados,deuda_monto,deuda_generada
308,2024-08-26,Alejandrina Mamani,928161636,2267028,F,puno,producto,tizo 3,150.0,False,producto tizo 3,[TIZO],[Venta de Producto Dermocosmetico],1947,<NA>,<NA>,[],NaN,False
307,2024-08-26,Alejandrina Mamani,928161636,2267028,F,puno,botox,50u fullface,1000.0,False,botox 50u fullface,[BOTOX],[Toxina Botulinica],1953,2,26,[50],NaN,False
409,2024-10-07,Alonso Bladimir Valencia,947113210,47450068,M,m. melgar,botox+juvederm,64u fullface/3jeringas,5000.0,False,botox+juvederm 64u fullface/3jeringas,"[BOTOX, JUVEDERM]","[Toxina Botulinica, Relleno Acido Hialuronico]",1992,11,7,"[64, 3]",NaN,False
410,2024-10-07,Alonso Bladimir Valencia,947113210,47450068,M,m. melgar,producto,tizo 3,150.0,False,producto tizo 3,[TIZO],[Venta de Producto Dermocosmetico],1992,11,7,[],NaN,False
691,2025-01-17,Ana Lucia Cacya Condori,977312131,48111653,F,sachaca,producto,tizo 3,150.0,False,producto tizo 3,[TIZO],[Venta de Producto Dermocosmetico],1995,<NA>,<NA>,[],NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,2024-08-24,Yessenia Bolivar,959384478,29617447,F,yanahuara,botox,50u fullface,1020.0,False,botox 50u fullface,[BOTOX],[Toxina Botulinica],1974,2,26,[50],NaN,False
438,2024-10-28,Yessenia Bolivar,959384478,29617447,F,yanahuara,None,adelanto tratamiento,1000.0,False,NaN,[],[],1974,2,26,[],NaN,False
285,2024-08-24,Yessenia Bolivar,959384478,29617447,F,yanahuara,producto,tizo 3,140.0,False,producto tizo 3,[TIZO],[Venta de Producto Dermocosmetico],1974,2,26,[],NaN,False
524,2024-11-30,Zally Calcina Rojas,990822256,43567271,F,NaN,ellanse,ellanse m,1795.0,False,ellanse ellanse m,[ELLANSE],[Bioestimulador de Colageno],1986,3,11,[],NaN,False
532,2024-12-02,Zally Calcina Rojas,990822256,43567271,F,cercado,ellanse+productos 3 serums y duo tizo,"ellanse m, adelanto 500 30/11",3190.0,False,"ellanse+productos 3 serums y duo tizo ellanse m, adelanto 500 30/11","[ELLANSE, TIZO]","[Bioestimulador de Colageno, Venta de Producto Dermocosmetico]",1986,3,11,[],NaN,False

In [49]:
df_final.columns

Index(['fecha', 'nombre', 'tel√©fono', 'dni', 'sexo', 'distrito', 'tratamiento',
       'notas', 'total', 'paciente_problematico', 'texto_consulta',
       'marcas_detectadas', 'servicios_realizados', 'nacimiento_year',
       'nacimiento_month', 'nacimiento_day', 'consumos_detectados',
       'deuda_monto', 'deuda_generada'],
      dtype='object')

In [50]:
from src.limpieza_utils import consolidar_informacion_paciente
df_final = df_final.pipe(consolidar_informacion_paciente, columnas_a_consolidar=['tel√©fono', 'sexo', 'distrito','nacimiento_year',  'nacimiento_month', 'nacimiento_day' ])

  -> ‚ú® Aplicando COALESCE de Pandas para las columnas: ['tel√©fono', 'sexo', 'distrito', 'nacimiento_year', 'nacimiento_month', 'nacimiento_day']...
     -> Consolidando 'tel√©fono'...
     -> Consolidando 'sexo'...
     -> Consolidando 'distrito'...
     -> Consolidando 'nacimiento_year'...
     -> Consolidando 'nacimiento_month'...
     -> Consolidando 'nacimiento_day'...

In [51]:
df_duplicates = df_final[df_final.duplicated(subset=['dni', 'nombre'], keep = False)].sort_values(by=['nombre'])

df_duplicates.isna().sum()

fecha                      0
nombre                     0
tel√©fono                   0
dni                        0
sexo                       0
distrito                  24
tratamiento                5
notas                     27
total                     10
paciente_problematico      0
texto_consulta            32
marcas_detectadas          0
servicios_realizados       0
nacimiento_year            0
nacimiento_month          23
nacimiento_day            23
consumos_detectados       27
deuda_monto              270
deuda_generada             0
dtype: int64

In [52]:
df_duplicates[df_duplicates[['nombre','tel√©fono', 'sexo', 'distrito','nacimiento_year',  'nacimiento_month', 'nacimiento_day' ]].isna().any(axis=1)][['nombre','tel√©fono', 'sexo', 'distrito','nacimiento_year',  'nacimiento_month', 'nacimiento_day' ]].sort_values(by=['nombre'])

,nombre,tel√©fono,sexo,distrito,nacimiento_year,nacimiento_month,nacimiento_day
691,Ana Lucia Cacya Condori,977312131,F,sachaca,1995,<NA>,<NA>
613,Ana Lucia Cacya Condori,977312131,F,sachaca,1994,<NA>,<NA>
595,Anthony Vergara Davalos,994335658,F,NaN,1995,<NA>,<NA>
325,Anthony Vergara Davalos,994335658,M,NaN,1995,<NA>,<NA>
236,Elena Cabrera,950853030,F,NaN,1989,<NA>,<NA>
184,Elena Cabrera,950853030,F,NaN,1989,<NA>,<NA>
420,Herlinda Huaman,959783833,F,NaN,1972,<NA>,<NA>
150,Herlinda Huaman,959783833,F,NaN,1972,<NA>,<NA>
453,Leslie Villanueva,958833784,F,NaN,1977,<NA>,<NA>
113,Leslie Villanueva,958833784,F,NaN,1977,<NA>,<NA>
721,Lorena Riveros,974321336,F,NaN,1984,<NA>,<NA>
253,Lorena Riveros,974321336,F,NaN,1983,<NA>,<NA>
34,Monica Salinas Suarez,992370005,F,NaN,1993,<NA>,<NA>
107,Monica Salinas Suarez,991370005,F,NaN,1993,<NA>,<NA>
262,Nathalie Velarde,16462635406,F,NaN,1980,3,6
254,Nathalie Velarde,16462635406,F,NaN,1980,3,6
1023,Priscila Cervantes,984759140,F,NaN,1990,1,25
196,Priscila Cervantes,984759140,F,NaN,1990,1,25
60,Roxana Aguilar,927676708,F,NaN,1994,<NA>,<NA>
138,Roxana Aguilar,927670708,F,NaN,1994,<NA>,<NA>
1064,Sheyla Juarez,993634598,F,NaN,1994,3,3
475,Sheyla Juarez,993634598,F,NaN,1994,3,3
358,Sheyla Zegarra,977306010,F,socabaya,2001,<NA>,<NA>
611,Sheyla Zegarra,977306010,F,socabaya,2001,<NA>,<NA>
104,Sheyla Zegarra,977306010,F,socabaya,2001,<NA>,<NA>
719,Vanni Riveros,959760466,F,NaN,1988,<NA>,<NA>
793,Vanni Riveros,959760466,F,NaN,1988,<NA>,<NA>
258,Veronica Ramos,941075156,F,NaN,1983,<NA>,<NA>
246,Veronica Ramos,941075156,F,NaN,1983,<NA>,<NA>

In [53]:
df_final.sample(5)

,fecha,nombre,tel√©fono,dni,sexo,distrito,tratamiento,notas,total,paciente_problematico,texto_consulta,marcas_detectadas,servicios_realizados,nacimiento_year,nacimiento_month,nacimiento_day,consumos_detectados,deuda_monto,deuda_generada
510,2024-11-26,Jessica Calcina,7012607340,72427705,F,NaN,ellanse,ellanse m (720 dolares),2700.0,False,ellanse ellanse m (720 dolares),[ELLANSE],[Bioestimulador de Colageno],1992,4,2,[],NaN,False
244,2024-08-06,Lucero Rodriguez,925387770,45960278,F,s. alegre,botox+radiesse,50u/(bbva),3000.0,False,botox+radiesse 50u/(bbva),"[BOTOX, RADIESSE]","[Toxina Botulinica, Bioestimulador de Colageno]",1989,7,15,[50],NaN,False
410,2024-10-07,Alonso Bladimir Valencia,947113210,47450068,M,m. melgar,producto,tizo 3,150.0,False,producto tizo 3,[TIZO],[Venta de Producto Dermocosmetico],1992,11,7,[],NaN,False
734,2025-01-27,Karely Rodriguez Encinas,936503173,60982851,F,paucarpata,"botox, art filler",50 und + natural face tml + labios,4900.0,False,"botox, art filler 50 und + natural face tml + labios","[BOTOX, ART FILLER, TML]","[Toxina Botulinica, Relleno Acido Hialuronico, Venta de Producto Dermocosmetico]",2004,7,22,[50],NaN,False
33,2024-02-05,Aydee Mamani,950288286,29551107,F,paucarpata,botox,64u full face,1250.0,False,botox 64u full face,[BOTOX],[Toxina Botulinica],1972,3,2,[64],NaN,False

In [54]:
df_final['distrito'] = df_final['distrito'].str.upper()

In [55]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 908 entries, 2 to 1106
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fecha                  908 non-null    datetime64[ns]
 1   nombre                 908 non-null    object
 2   tel√©fono               896 non-null    Int64
 3   dni                    908 non-null    object
 4   sexo                   908 non-null    category
 5   distrito               794 non-null    object
 6   tratamiento            900 non-null    object
 7   notas                  816 non-null    object
 8   total                  884 non-null    float64
 9   paciente_problematico  908 non-null    bool
 10  texto_consulta         808 non-null    object
 11  marcas_detectadas      908 non-null    object
 12  servicios_realizados   908 non-null    object
 13  nacimiento_year        908 non-null    Int64
 14  nacimiento_month       795 non-null    Int64
 15  nacimiento_day         795 non-null    Int64
 16  consumos_detectados    816 non-null    object
 17  deuda_monto            12 non-null     float64
 18  deuda_generada         908 non-null    bool
dtypes: Int64(4), bool(2), category(1), datetime64[ns](1), float64(2), object(9)
memory usage: 126.9+ KB

In [56]:
# Check if the length of 'marcas_detectadas' and 'servicios_realizados' is greater than or equal to 2 for each row
mas_de_dos_marcas = df_final['marcas_detectadas'].apply(lambda x: len(x) >= 2 if isinstance(x, list) else False)
mas_de_dos_servicios = df_final['servicios_realizados'].apply(lambda x: len(x) >= 2 if isinstance(x, list) else False)

# Filter the DataFrame based on the conditions
df_final[(mas_de_dos_marcas) & (mas_de_dos_servicios)]

,fecha,nombre,tel√©fono,dni,sexo,distrito,tratamiento,notas,total,paciente_problematico,texto_consulta,marcas_detectadas,servicios_realizados,nacimiento_year,nacimiento_month,nacimiento_day,consumos_detectados,deuda_monto,deuda_generada
34,2024-02-07,Monica Salinas Suarez,992370005,70262065,F,NaN,pb serum enzimas,serum relax/tizostick/reduccion de grasa,1600.0,False,pb serum enzimas serum relax/tizostick/reduccion de grasa,"[PB SERUM, TIZO]","[Enzimas Recombinantes, Venta de Producto Dermocosmetico]",1993,<NA>,<NA>,[],NaN,False
82,2024-03-09,Jenny Pacheco Palomino,984516579,41403583,F,LA JOYA,botox,50u fullface/2jeringas a. hialuronico/radiesse b. colageno/juvederm,4960.0,False,botox 50u fullface/2jeringas a. hialuronico/radiesse b. colageno/juvederm,"[BOTOX, RADIESSE, JUVEDERM]","[Toxina Botulinica, Relleno Acido Hialuronico, Bioestimulador de Colageno]",1983,7,15,"[50, 2]",NaN,False
91,2024-03-25,Yesica Cateriano,986645375,29626660,F,J.B. Y R.,botox,50u fullface/ellanse m,3000.0,False,botox 50u fullface/ellanse m,"[BOTOX, ELLANSE]","[Toxina Botulinica, Bioestimulador de Colageno]",1975,10,15,[50],NaN,False
106,2024-05-06,Fiorela Tririnos,955791748,75571574,F,CAMANA,radiesse,100u botox fullface/ b. colageno,3800.0,False,radiesse 100u botox fullface/ b. colageno,"[RADIESSE, BOTOX]","[Toxina Botulinica, Bioestimulador de Colageno]",1996,<NA>,<NA>,[100],NaN,False
108,2024-05-07,Carolina Herrera,956005599,584682,F,YANAHUARA,botox,50u fullface/ ellanse m -> a. hialuronico,3100.0,False,botox 50u fullface/ ellanse m -> a. hialuronico,"[BOTOX, ELLANSE]","[Toxina Botulinica, Relleno Acido Hialuronico, Bioestimulador de Colageno]",1984,10,27,[50],NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088,2025-05-10,Dania Lourdes Zeballos Velasquez,950960015,42191976,F,SACHACA,harmonyca,haca + sebiaclear,2595.0,False,harmonyca haca + sebiaclear,"[HARMONYCA, SVR]","[Bioestimulador de Colageno, Venta de Producto Dermocosmetico]",1983,10,26,[],NaN,False
1092,2025-05-12,Eva Ccotohuanca Quispe,986860984,41656771,F,C. COLORADO,"radiesse, botox",duo antiage,3700.0,False,"radiesse, botox duo antiage","[RADIESSE, BOTOX]","[Toxina Botulinica, Bioestimulador de Colageno]",1982,11,25,[],NaN,False
1093,2025-05-12,Yhandira Shirley,958167009,44835402,F,J.B. Y R.,"botox, harmonyca, juvederm",64 und + sny,6000.0,False,"botox, harmonyca, juvederm 64 und + sny","[BOTOX, HARMONYCA, JUVEDERM]","[Toxina Botulinica, Relleno Acido Hialuronico, Bioestimulador de Colageno]",1988,11,7,[64],NaN,False
1095,2025-05-13,Martha Soledad Yupanqui Cahuana,976268394,29659571,F,C. COLORADO,"botox, juvederm",64 und + lips,3700.0,False,"botox, juvederm 64 und + lips","[BOTOX, JUVEDERM]","[Toxina Botulinica, Relleno Acido Hialuronico]",1976,6,3,[64],NaN,False
1105,2025-05-16,Ruth Cutipa Huayta,914070161,29721802,F,MIRAFLORES,"botox, producto",64 und + tizo 3,1400.0,False,"botox, producto 64 und + tizo 3","[BOTOX, TIZO]","[Toxina Botulinica, Venta de Producto Dermocosmetico]",1975,2,22,[64],NaN,False

In [57]:
df_final.columns

Index(['fecha', 'nombre', 'tel√©fono', 'dni', 'sexo', 'distrito', 'tratamiento',
       'notas', 'total', 'paciente_problematico', 'texto_consulta',
       'marcas_detectadas', 'servicios_realizados', 'nacimiento_year',
       'nacimiento_month', 'nacimiento_day', 'consumos_detectados',
       'deuda_monto', 'deuda_generada'],
      dtype='object')

In [58]:
a = df_final.duplicated(subset=['marcas_detectadas'], keep='first')
df_final[a]['marcas_detectadas']

7                  []
29            [BOTOX]
33            [BOTOX]
59          [ELLANSE]
60            [BOTOX]
            ...
1101       [JUVEDERM]
1102     [ART FILLER]
1103       [JUVEDERM]
1105    [BOTOX, TIZO]
1106          [BOTOX]
Name: marcas_detectadas, Length: 808, dtype: object

In [59]:
display(df_final[['texto_consulta','servicios_realizados','marcas_detectadas','consumos_detectados' ,'total']].sample(20))

,texto_consulta,servicios_realizados,marcas_detectadas,consumos_detectados,total
555,botox + producto + ellanse 50u fullface/ m /tizo 3,"[Toxina Botulinica, Bioestimulador de Colageno, Venta de Producto Dermocosmetico]","[BOTOX, ELLANSE, TIZO]",[50],3800.0
701,botox 64 und,[Toxina Botulinica],[BOTOX],[64],1350.0
483,juvederm lips + enzimas,"[Relleno Acido Hialuronico, Enzimas Recombinantes]",[JUVEDERM],[],2600.0
695,"botox+juvederm, ellanse 64 und, 6 jeringas juvederm y ellanse m","[Toxina Botulinica, Relleno Acido Hialuronico, Bioestimulador de Colageno]","[BOTOX, JUVEDERM, ELLANSE]","[64, 6]",10000.0
450,botox 50 und,[Toxina Botulinica],[BOTOX],[50],1000.0
684,botox+juvederm 64 und + tml + ojera + lips,"[Toxina Botulinica, Relleno Acido Hialuronico, Venta de Producto Dermocosmetico]","[BOTOX, JUVEDERM, TML]",[64],5700.0
579,botox 64 und,[Toxina Botulinica],[BOTOX],[64],1350.0
826,croma rino,[Relleno Acido Hialuronico],[CROMA],[],720.0
1008,"botox, harmonyca 64 und","[Toxina Botulinica, Bioestimulador de Colageno]","[BOTOX, HARMONYCA]",[64],4000.0
901,botox 50 und,[Toxina Botulinica],[BOTOX],[50],1200.0
575,juvederm 3 jeringas,[Relleno Acido Hialuronico],[JUVEDERM],[3],941.0
101,a. hialuronico 3jeringas/juvederm/volift,[Relleno Acido Hialuronico],[JUVEDERM],[3],1000.0
219,botox fullface 64u fullface,[Toxina Botulinica],[BOTOX],[64],1275.0
757,"botox, producto 64 und +tizo 3","[Toxina Botulinica, Venta de Producto Dermocosmetico]","[BOTOX, TIZO]",[64],1650.0
1011,NaN,[],[],None,4700.0
980,croma sng,[Relleno Acido Hialuronico],[CROMA],[],1600.0
442,juvederm 1 jeringa,[Relleno Acido Hialuronico],[JUVEDERM],[1],1170.0
217,botox fullface 64u fullface/a. hialuronico 7j->juvederm/b. colageno->radiesse,"[Toxina Botulinica, Relleno Acido Hialuronico, Bioestimulador de Colageno]","[BOTOX, JUVEDERM, RADIESSE]","[64, 7]",11260.0
840,botox 64 und,[Toxina Botulinica],[BOTOX],[64],1300.0
702,botox 50 und,[Toxina Botulinica],[BOTOX],[50],1080.0

In [60]:
# ======================================================================
# üèõÔ∏è LA OBRA - Orquestando con el Asignador de Gen√©ricos
# ======================================================================
# PRERREQUISITO: Taller `limpieza_utils.py` actualizado, Kernel reiniciado.

# --- Importando la NUEVA herramienta ---
from src.limpieza_utils import  asignar_marcas_genericas

# --- La L√≠nea de Ensamblaje Final ---
df_limpio_final = (df_final
                   #Despu√©s, nuestro nuevo supervisor de calidad corrige los vac√≠os.
                   .pipe(asignar_marcas_genericas)
                   
                   # ... (tus pipes posteriores) ...
                  )

# --- Verificaci√≥n de la Operaci√≥n ---
print("\n\n--- Verificaci√≥n de la Asignaci√≥n de Gen√©ricos ---")
columnas_a_mostrar = [
    'texto_consulta',
    'servicios_realizados',
    'marcas_detectadas'
]

# Creamos un filtro para ver filas que originalmente no ten√≠an marca pero s√≠ servicio
filtro_sin_marca_original = df_final['marcas_detectadas'].apply(len) == 0

filtro_con_servicio = df_final['servicios_realizados'].apply(len) > 0

# Ahora mostramos esas mismas filas en el DF procesado para ver si se rellenaron
display(df_limpio_final.loc[filtro_sin_marca_original & filtro_con_servicio, columnas_a_mostrar])

  -> ü§ñ Aplicando asignador de marcas gen√©ricas contextuales...
     -> Asignaci√≥n completada.


--- Verificaci√≥n de la Asignaci√≥n de Gen√©ricos ---

,texto_consulta,servicios_realizados,marcas_detectadas
254,consulta -,[Consulta Medica],[]
257,producto -,[Venta de Producto Dermocosmetico],[]
413,producto micro peel sebia clear,[Venta de Producto Dermocosmetico],[]
541,consulta consulta,[Consulta Medica],[]
556,consulta pago consulta con $100,[Consulta Medica],[]
607,consulta cancelo el 20/12/2024,[Consulta Medica],[]
799,consulta consulta,[Consulta Medica],[]

In [61]:
df_final.drop(columns = ['tratamiento', 'notas'], inplace = True)

In [62]:
len(df_final['dni'].unique())

637

In [63]:
#================================================================================
# BRANCH - ETL - SQL
#=================================================================================

from sqlalchemy import create_engine, text 
import sys

from src.hidden import secret_credentials
secrets = secret_credentials()

user = secrets['user']
password = secrets['password']
host = secrets['host']
port = secrets['port']
database = secrets['database']


# =/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=
#  LA FUNCI√ìN ORQUESTADORA - EN TU NOTEBOOK DE PYTHON
# =/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=
import traceback
from pathlib import Path
from sqlalchemy import text # ¬°Importante importar `text`!

def run_sql_file(engine, sql_path, verify_query=None, verify_label=""):
    """
    Lee un archivo .sql y lo ejecuta contra la base de datos de la forma m√°s robusta.
    """
    path = Path(sql_path)
    if not path.is_file():
        print(f"‚ùå Error: El archivo de plano '{path.name}' no fue encontrado en la ruta.")
        return

    print(f"\n  ----- Running SQL: {path} ------")
    
    try:
        # --- PASO 1: LEER EL CONTENIDO DEL ARCHIVO ---
        # Leemos el archivo .sql completo como una √∫nica cadena de texto.
        with open(path, 'r', encoding='utf-8') as f:
            sql_script = f.read()
        
        # --- PASO 2: EJECUCI√ìN DIRECTA Y ROBUSTA ---
        # La Anatom√≠a: `with engine.connect() as connection:`
        # El Prop√≥sito: Abrimos una conexi√≥n directa y la gestionamos de forma segura.
        # La Anatom√≠a: `connection.execute(text(sql_script))`
        # El Prop√≥sito: `text()` le dice a SQLAlchemy "trata esta cadena de texto
        # como un bloque de SQL puro y ejec√∫talo tal cual, sin intentar ser demasiado listo".
        # Esto evita las capas internas que causaban el TypeError.
        # `connection.commit()` asegura que los cambios se guarden permanentemente.
        with engine.connect() as connection:
            connection.execute(text(sql_script))
            connection.commit() # Expl√≠citamente guardamos la transacci√≥n.

        print(f"   Success: {path.name} executed")

        # --- PASO 3: VERIFICACI√ìN (Sin cambios) ---
        if verify_query:
            with engine.connect() as connection:
                result = connection.execute(text(verify_query)).scalar()
                print(f"   Verification -> {verify_label}: {result} registros.")

    except Exception as e:
        print(f"   Failed Executing: {path}")
        print(f"   Script head: {sql_script[:200]}...")
        print("   Traceback:")
        traceback.print_exc()
        raise e
    
try: 
    engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}")
except Exception as e: 
    print(f"Fallo de Conexion: {e}")
    sys.exit() 
# Creacion de la Funcion para ejecutar los Archivos `sql`
'''
def run_sql_file(engine, sql_path: str, verify_query: str | None=None, verify_label:str = "verification"):

    path = Path(sql_path)
    print(f"\n  ----- Running SQL: {path} ------")
    if not path.exists():
        raise FileNotFoundError(f"SQL file not found: {path}")
    
    try: 
        sql = path.read_text(encoding="utf-8")
        # exec_driver _sql maneja sripts con multiples sentencias separadas por ';'
        with engine.begin() as conn:
            conn.exec_driver_sql(sql)
        print(f"Success: {path.name} executed")
        
        if verify_query: 
            with engine.connect() as conn:
                df_check = pd.read_sql_query(verify_query, conn)
                print(f"{verify_label}: \n{df_check.to_string(index=False)}")
    
    except Exception as e:
        print(f"Failed Executing: {path}")
        snippet = sql[:300].replace("\n", " ")
        print(f"   Script head: {snippet} ...")
        print("   Traceback:")
        traceback.print_exc()
        raise e  # re-lanza para que cualquier pipeline/CI lo detecte

            
                
                
'''

'\ndef run_sql_file(engine, sql_path: str, verify_query: str | None=None, verify_label:str = "verification"):\n\n    path = Path(sql_path)\n    print(f"\n  ----- Running SQL: {path} ------")\n    if not path.exists():\n        raise FileNotFoundError(f"SQL file not found: {path}")\n\n    try: \n        sql = path.read_text(encoding="utf-8")\n        # exec_driver _sql maneja sripts con multiples sentencias separadas por \';\'\n        with engine.begin() as conn:\n            conn.exec_driver_sql(sql)\n        print(f"Success: {path.name} executed")\n\n        if verify_query: \n            with engine.connect() as conn:\n                df_check = pd.read_sql_query(verify_query, conn)\n                print(f"{verify_label}: \n{df_check.to_string(index=False)}")\n\n    except Exception as e:\n        print(f"Failed Executing: {path}")\n        snippet = sql[:300].replace("\n", " ")\n        print(f"   Script head: {snippet} ...")\n        print("   Traceback:")\n        traceback.print_exc()\n        raise e  # re-lanza para que cualquier pipeline/CI lo detecte\n\n\n\n\n'

In [64]:
# ======================================================================
# üèõÔ∏è FASE FINAL: LA ORQUESTACI√ìN DE LA CONSTRUCCI√ìN DEL TEMPLO
# ======================================================================
# PRERREQUISITOS:
#   - El `engine` de SQLAlchemy existe.
#   - Tu funci√≥n `run_sql_file` est√° en `src/limpieza_utils.py`.
#   - Los archivos .sql est√°n en la carpeta `sql/`.

import pandas as pd
from sqlalchemy import text
from pathlib import Path
import sys
import os

# --- PASO 1: CONFIGURACI√ìN DEL MAPA DE RUTAS (El GPS del Proyecto) ---
# La Anatom√≠a: Este es el hechizo que le ense√±a a tu notebook a ver todo el proyecto.
# `Path.cwd()`: "Dame la ruta de la carpeta donde estoy corriendo AHORA MISMO"
#               (ej. '/.../Clinica_Prime/notebooks')
# `.parent`: "Dame la carpeta padre de esa ruta" (ej. '/.../Clinica_Prime')
# `ROOT_DIR` es ahora la ra√≠z de tu proyecto. Es nuestro punto de referencia universal.
ROOT_DIR = Path(os.getcwd()).parent
sys.path.append(str(ROOT_DIR))

# Ahora podemos importar nuestra funci√≥n de forma segura.

print(f"‚úÖ Entorno configurado. Ra√≠z del proyecto: {ROOT_DIR}")


# --- PASO 2: LA LISTA DE PLANOS (El Orden de Construcci√≥n) ---
# La Anatom√≠a: Una lista de strings. El orden es CR√çTICO.
# Define la secuencia exacta en la que se construir√° el Templo.
planos_de_construccion = [
    "01_create_schema.sql"]
print(f"  -> {len(planos_de_construccion)} planos listos para ser ejecutados.")


# --- PASO 3: LA EJECUCI√ìN ORQUESTADA (El Maestro de Obras en Acci√≥n) ---
print("\n--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---")

# La Anatom√≠a: Iteramos sobre nuestra lista de planos.
for nombre_plano in planos_de_construccion:
    # La L√≥gica de Rutas del Maestro:
    # `ROOT_DIR / 'sql' / nombre_plano`: `pathlib` nos permite construir rutas
    # usando el operador `/` como si fueran carpetas. Es legible y robusto.
    # Esto crea la ruta ABSOLUTA y correcta al archivo .sql, sin importar
    # desde d√≥nde ejecutes el notebook.
    ruta_plano_absoluta = ROOT_DIR / 'src' / 'sql' / nombre_plano
    
    # --- Verificaciones Opcionales para Cada Plano ---
    # Podemos a√±adir verificaciones espec√≠ficas para cada paso.
    verify_query = None
    verify_label = None
    if nombre_plano == "01_create_schema.sql":
        verify_query = "SELECT column_name FROM information_schema.columns WHERE  table_name = 'pacientes';"
        verify_label = "Conteo de Pacientes √önicos"
    
    # Llamamos a nuestra poderosa funci√≥n con la ruta absoluta.
    run_sql_file(
        engine,
        sql_path=str(ruta_plano_absoluta), # Convertimos a string para la funci√≥n
        verify_query=verify_query,
        verify_label=verify_label
    )

print("\n\n--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---")

‚úÖ Entorno configurado. Ra√≠z del proyecto: /mnt/c/DataScience/Projects_Python/Clinica_Prime
  -> 1 planos listos para ser ejecutados.

--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---

  ----- Running SQL: /mnt/c/DataScience/Projects_Python/Clinica_Prime/src/sql/01_create_schema.sql ------
   Success: 01_create_schema.sql executed
   Verification -> Conteo de Pacientes √önicos: id_paciente registros.


--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---

In [65]:

print('Creacion de la `Stagging Table`')

try: 
    df_final.to_sql('raw_data',
                con = engine , 
                if_exists='append',
                index=False
                )
    
except Exception as e: 
    print(f"Problema para poder Subir infomracion")

Creacion de la `Stagging Table`

In [66]:
planos_de_construccion = ["02a_insert_dimensions.sql",
                          "02b_insert_dimensions.sql"]
print(f"  -> {len(planos_de_construccion)} planos listos para ser ejecutados.")


# --- PASO 3: LA EJECUCI√ìN ORQUESTADA (El Maestro de Obras en Acci√≥n) ---
print("\n--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---")

# La Anatom√≠a: Iteramos sobre nuestra lista de planos.
for nombre_plano in planos_de_construccion:
    # La L√≥gica de Rutas del Maestro:
    # `ROOT_DIR / 'sql' / nombre_plano`: `pathlib` nos permite construir rutas
    # usando el operador `/` como si fueran carpetas. Es legible y robusto.
    # Esto crea la ruta ABSOLUTA y correcta al archivo .sql, sin importar
    # desde d√≥nde ejecutes el notebook.
    ruta_plano_absoluta = ROOT_DIR / 'src' / 'sql' / nombre_plano
    
    # --- Verificaciones Opcionales para Cada Plano ---
    # Podemos a√±adir verificaciones espec√≠ficas para cada paso.
    verify_query = None
    verify_label = None
    if nombre_plano == "02_insert_dimensions.sql":
        verify_query = " SELECT COUNT(*) FROM servicios_catalogo;"
        verify_label = "Conteo de Catalogos y Servicios Unicos"
    if nombre_plano == "02b_insert_dimensions.sql":
        verify_query = "SELECT COUNT(*) FROM productos_catalogo;"
        verify_label = "Conteo de Catalogos y Servicios Unicos"
    
    
    
    
    # Llamamos a nuestra poderosa funci√≥n con la ruta absoluta.
    run_sql_file(
        engine,
        sql_path=str(ruta_plano_absoluta), # Convertimos a string para la funci√≥n
        verify_query=verify_query,
        verify_label=verify_label
    )

print("\n\n--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---")

  -> 2 planos listos para ser ejecutados.

--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---

  ----- Running SQL: /mnt/c/DataScience/Projects_Python/Clinica_Prime/src/sql/02a_insert_dimensions.sql ------
   Success: 02a_insert_dimensions.sql executed

  ----- Running SQL: /mnt/c/DataScience/Projects_Python/Clinica_Prime/src/sql/02b_insert_dimensions.sql ------
   Success: 02b_insert_dimensions.sql executed
   Verification -> Conteo de Catalogos y Servicios Unicos: 20 registros.


--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---

In [67]:
planos_de_construccion = ["02c_insert_dimensions.sql",
                          "02d_insert_dimensions.sql"]
print(f"  -> {len(planos_de_construccion)} planos listos para ser ejecutados.")


# --- PASO 3: LA EJECUCI√ìN ORQUESTADA (El Maestro de Obras en Acci√≥n) ---
print("\n--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---")


# La Anatom√≠a: Iteramos sobre nuestra lista de planos.
for nombre_plano in planos_de_construccion:
    # La L√≥gica de Rutas del Maestro:
    # `ROOT_DIR / 'sql' / nombre_plano`: `pathlib` nos permite construir rutas
    # usando el operador `/` como si fueran carpetas. Es legible y robusto.
    # Esto crea la ruta ABSOLUTA y correcta al archivo .sql, sin importar
    # desde d√≥nde ejecutes el notebook.
    ruta_plano_absoluta = ROOT_DIR / 'src' / 'sql' / nombre_plano
    
    # --- Verificaciones Opcionales para Cada Plano ---
    # Podemos a√±adir verificaciones espec√≠ficas para cada paso.
    verify_query = None
    verify_label = None
    if nombre_plano == "02c_insert_dimensions.sql":
        verify_query = " SELECT COUNT(*) FROM descuentos;"
        verify_label = "Conteo de Catalogos y Servicios Unicos"
    if nombre_plano == "02d_insert_dimensions.sql":
        verify_query = "SELECT COUNT(*) FROM distritos;"
        verify_label = "Conteo de Catalogos y Servicios Unicos"
    
    
    
    
    # Llamamos a nuestra poderosa funci√≥n con la ruta absoluta.
    run_sql_file(
        engine,
        sql_path=str(ruta_plano_absoluta), # Convertimos a string para la funci√≥n
        verify_query=verify_query,
        verify_label=verify_label
    )

print("\n\n--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---")

  -> 2 planos listos para ser ejecutados.

--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---

  ----- Running SQL: /mnt/c/DataScience/Projects_Python/Clinica_Prime/src/sql/02c_insert_dimensions.sql ------
   Success: 02c_insert_dimensions.sql executed
   Verification -> Conteo de Catalogos y Servicios Unicos: 4 registros.

  ----- Running SQL: /mnt/c/DataScience/Projects_Python/Clinica_Prime/src/sql/02d_insert_dimensions.sql ------
   Success: 02d_insert_dimensions.sql executed
   Verification -> Conteo de Catalogos y Servicios Unicos: 28 registros.


--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---

In [68]:
planos_de_construccion = [
    "03_insert_pacientes.sql"]
print(f"  -> {len(planos_de_construccion)} planos listos para ser ejecutados.")


# --- PASO 3: LA EJECUCI√ìN ORQUESTADA (El Maestro de Obras en Acci√≥n) ---
print("\n--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---")

# La Anatom√≠a: Iteramos sobre nuestra lista de planos.
for nombre_plano in planos_de_construccion:
    # La L√≥gica de Rutas del Maestro:
    # `ROOT_DIR / 'sql' / nombre_plano`: `pathlib` nos permite construir rutas
    # usando el operador `/` como si fueran carpetas. Es legible y robusto.
    # Esto crea la ruta ABSOLUTA y correcta al archivo .sql, sin importar
    # desde d√≥nde ejecutes el notebook.
    ruta_plano_absoluta = ROOT_DIR / 'src' / 'sql' / nombre_plano
    
    # --- Verificaciones Opcionales para Cada Plano ---
    # Podemos a√±adir verificaciones espec√≠ficas para cada paso.
    verify_query = None
    verify_label = None
    if nombre_plano == "03_insert_pacientes.sql":
        verify_query = "SELECT COUNT(*) FROM pacientes;"
        verify_label = "Conteo de Pacientes √önicos"
    
    # Llamamos a nuestra poderosa funci√≥n con la ruta absoluta.
    run_sql_file(
        engine,
        sql_path=str(ruta_plano_absoluta), # Convertimos a string para la funci√≥n
        verify_query=verify_query,
        verify_label=verify_label
    )

print("\n\n--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---")

  -> 1 planos listos para ser ejecutados.

--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---

  ----- Running SQL: /mnt/c/DataScience/Projects_Python/Clinica_Prime/src/sql/03_insert_pacientes.sql ------
   Success: 03_insert_pacientes.sql executed
   Verification -> Conteo de Pacientes √önicos: 637 registros.


--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---

In [69]:
planos_de_construccion = [
    "04_insert_consultas.sql",
    "05_insert_consultas_servicios.sql"]
print(f"  -> {len(planos_de_construccion)} planos listos para ser ejecutados.")


# --- PASO 3: LA EJECUCI√ìN ORQUESTADA (El Maestro de Obras en Acci√≥n) ---
print("\n--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---")

# La Anatom√≠a: Iteramos sobre nuestra lista de planos.
for nombre_plano in planos_de_construccion:
    # La L√≥gica de Rutas del Maestro:
    # `ROOT_DIR / 'sql' / nombre_plano`: `pathlib` nos permite construir rutas
    # usando el operador `/` como si fueran carpetas. Es legible y robusto.
    # Esto crea la ruta ABSOLUTA y correcta al archivo .sql, sin importar
    # desde d√≥nde ejecutes el notebook.
    ruta_plano_absoluta = ROOT_DIR / 'src' / 'sql' / nombre_plano
    
    # --- Verificaciones Opcionales para Cada Plano ---
    # Podemos a√±adir verificaciones espec√≠ficas para cada paso.
    verify_query = None
    verify_label = None
    if nombre_plano == "04_insert_consultas.sql":
        verify_query = "SELECT COUNT(DISTINCT id_paciente) FROM consultas;"
        verify_label = "Conteo de Pacientes √önicos"
    
    if nombre_plano == "05_insert_consultas_servicios.sql":
        verify_query = "SELECT COUNT(*) FROM consultas_servicios;"
        verify_label = "Conteo de Pacientes √önicos"
        
    # Llamamos a nuestra poderosa funci√≥n con la ruta absoluta.
    run_sql_file(
        engine,
        sql_path=str(ruta_plano_absoluta), # Convertimos a string para la funci√≥n
        verify_query=verify_query,
        verify_label=verify_label
    )

print("\n\n--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---")

  -> 2 planos listos para ser ejecutados.

--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---

  ----- Running SQL: /mnt/c/DataScience/Projects_Python/Clinica_Prime/src/sql/04_insert_consultas.sql ------
   Success: 04_insert_consultas.sql executed
   Verification -> Conteo de Pacientes √önicos: 637 registros.

  ----- Running SQL: /mnt/c/DataScience/Projects_Python/Clinica_Prime/src/sql/05_insert_consultas_servicios.sql ------
   Success: 05_insert_consultas_servicios.sql executed
   Verification -> Conteo de Pacientes √önicos: 1229 registros.


--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---

In [70]:
planos_de_construccion = [
    "06_insert_consumo_productos.sql"]
print(f"  -> {len(planos_de_construccion)} planos listos para ser ejecutados.")


# --- PASO 3: LA EJECUCI√ìN ORQUESTADA (El Maestro de Obras en Acci√≥n) ---
print("\n--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---")

# La Anatom√≠a: Iteramos sobre nuestra lista de planos.
for nombre_plano in planos_de_construccion:
    # La L√≥gica de Rutas del Maestro:
    # `ROOT_DIR / 'sql' / nombre_plano`: `pathlib` nos permite construir rutas
    # usando el operador `/` como si fueran carpetas. Es legible y robusto.
    # Esto crea la ruta ABSOLUTA y correcta al archivo .sql, sin importar
    # desde d√≥nde ejecutes el notebook.
    ruta_plano_absoluta = ROOT_DIR / 'src' / 'sql' / nombre_plano
    
    # --- Verificaciones Opcionales para Cada Plano ---
    # Podemos a√±adir verificaciones espec√≠ficas para cada paso.
    verify_query = None
    verify_label = None
    if nombre_plano == "06_insert_consumo_productos.sql":
        verify_query = "SELECT COUNT(*) FROM consumo_productos;"
        verify_label = "Conteo de Registros Realizados"
    
    
        
    # Llamamos a nuestra poderosa funci√≥n con la ruta absoluta.
    run_sql_file(
        engine,
        sql_path=str(ruta_plano_absoluta), # Convertimos a string para la funci√≥n
        verify_query=verify_query,
        verify_label=verify_label
    )

print("\n\n--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---")

  -> 1 planos listos para ser ejecutados.

--- ‚öîÔ∏è  Iniciando la Construcci√≥n del Templo desde los Planos Modulares... ---

  ----- Running SQL: /mnt/c/DataScience/Projects_Python/Clinica_Prime/src/sql/06_insert_consumo_productos.sql ------
   Success: 06_insert_consumo_productos.sql executed
   Verification -> Conteo de Registros Realizados: 1232 registros.


--- ‚úÖ ¬°CONSTRUCCI√ìN DEL TEMPLO FINALIZADA! ---

In [71]:
# ======================================================================
# üèõÔ∏è CONFIGURACI√ìN DE LA HERRAMIENTA SQL
# ======================================================================
import prettytable

# La lista de estilos que vienen por defecto en la mayor√≠a de versiones.
# MSWORD_FRIENDLY es uno de los m√°s robustos y legibles.
print("Estilos de tabla disponibles:", prettytable.PLAIN_COLUMNS, prettytable.MSWORD_FRIENDLY, prettytable.DEFAULT)


# --- El Hechizo de Configuraci√≥n ---
# La Anatom√≠a: `%config SqlMagic.style = '...'`
# El Prop√≥sito del Artesano: Este es un "comando m√°gico" de IPython.
# Le estamos dando una orden directa a la extensi√≥n `ipython-sql`:
# "A partir de ahora, para TODAS tus salidas, no uses tu estilo por defecto.
# Usa el estilo que yo te ordeno: 'MSWORD_FRIENDLY'".
%config SqlMagic.style = 'MSWORD_FRIENDLY'

print("\n‚úÖ Estilo de la salida SQL configurado a 'MSWORD_FRIENDLY'.")
%pip install ipython-sql==0.4.1 prettytable==3.6.0
%reload_ext sql
%pip install ipython-sql sqlalchemy psycopg2-binary
%pip install psycopg2-binary
%sql postgresql://postgres:postgres@localhost:5432/clinica_prime

Estilos de tabla disponibles: 12 11 10

‚úÖ Estilo de la salida SQL configurado a 'MSWORD_FRIENDLY'.

/tmp/ipykernel_23795/2322375237.py:8: DeprecationWarning: the 'PLAIN_COLUMNS' constant is deprecated, use the 'TableStyle' enum instead
  print("Estilos de tabla disponibles:", prettytable.PLAIN_COLUMNS, prettytable.MSWORD_FRIENDLY, prettytable.DEFAULT)
/tmp/ipykernel_23795/2322375237.py:8: DeprecationWarning: the 'MSWORD_FRIENDLY' constant is deprecated, use the 'TableStyle' enum instead
  print("Estilos de tabla disponibles:", prettytable.PLAIN_COLUMNS, prettytable.MSWORD_FRIENDLY, prettytable.DEFAULT)
/tmp/ipykernel_23795/2322375237.py:8: DeprecationWarning: the 'DEFAULT' constant is deprecated, use the 'TableStyle' enum instead
  print("Estilos de tabla disponibles:", prettytable.PLAIN_COLUMNS, prettytable.MSWORD_FRIENDLY, prettytable.DEFAULT)

Collecting ipython-sql==0.4.1
  Using cached ipython_sql-0.4.1-py3-none-any.whl.metadata (17 kB)
Collecting prettytable==3.6.0
  Using cached prettytable-3.6.0-py3-none-any.whl.metadata (25 kB)
INFO: pip is looking at multiple versions of ipython-sql to determine which version is compatible with other requirements. This could take a while.
ERROR: Cannot install ipython-sql==0.4.1 and prettytable==3.6.0 because these package versions have conflicting dependencies.

The conflict is caused by:
    The user requested prettytable==3.6.0
    ipython-sql 0.4.1 depends on prettytable<1

To fix this you could try to:
1. loosen the range of package versions you've specified
2. remove package versions to allow pip to attempt to solve the dependency conflict

ERROR: ResolutionImpossible: for help visit https://pip.pypa.io/en/latest/topics/dependency-resolution/#dealing-with-dependency-conflicts
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: ipython-sql in /home/miguel/miniconda3/lib/python3.13/site-packages (0.5.0)
Requirement already satisfied: sqlalchemy in /home/miguel/miniconda3/lib/python3.13/site-packages (2.0.41)
Requirement already satisfied: psycopg2-binary in /home/miguel/miniconda3/lib/python3.13/site-packages (2.9.10)
Requirement already satisfied: prettytable in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython-sql) (9.4.0)
Requirement already satisfied: sqlparse in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /home/miguel/miniconda3/lib/python3.13/site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/miguel/miniconda3/lib/python3.13/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: decorator in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /home/miguel/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /home/miguel/miniconda3/lib/python3.13/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/miguel/miniconda3/lib/python3.13/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /home/miguel/miniconda3/lib/python3.13/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /home/miguel/miniconda3/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/miguel/miniconda3/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /home/miguel/miniconda3/lib/python3.13/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: psycopg2-binary in /home/miguel/miniconda3/lib/python3.13/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [72]:
%%sql
SELECT column_name 
FROM information_schema.columns 
WHERE table_name = 'raw_data'

 * postgresql://postgres:***@localhost:5432/clinica_prime
17 rows affected.

[('fecha',),
 ('nombre',),
 ('tel√©fono',),
 ('dni',),
 ('sexo',),
 ('distrito',),
 ('total',),
 ('paciente_problematico',),
 ('texto_consulta',),
 ('marcas_detectadas',),
 ('servicios_realizados',),
 ('nacimiento_year',),
 ('nacimiento_month',),
 ('nacimiento_day',),
 ('consumos_detectados',),
 ('deuda_monto',),
 ('deuda_generada',)]